In [ ]:
import pandas as pd

# Chargement du fichier NETTOYÃ‰
df = pd.read_csv('../DATA/PROCESSED/cafe_sales_cleaned.csv')
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'])

#ENRICHISSEMENT 
print("--- Ã‰TAPE 1 : Ajout de nouvelles colonnes ---")
df['Jour_Semaine'] = df['Transaction Date'].dt.day_name()
df['Mois'] = df['Transaction Date'].dt.month_name()
df['Type_Commande'] = df['Quantity'].apply(lambda x: 'Grosse' if x > 3 else 'Petite')

display(df[['Transaction ID', 'Item', 'Jour_Semaine', 'Type_Commande']].head())

#TABLEAUX DÃ‰CISIONNELS (Le rÃ©sultat pour ton rapport) 
print("\n--- Ã‰TAPE 2 : Performance par Produit ---")
product_table = df.groupby('Item')['Total Spent'].sum().sort_values(ascending=False).to_frame(name='CA Total')
display(product_table)

print("\n--- Ã‰TAPE 3 : Analyse de l'Affluence ---")
traffic_table = df.groupby('Jour_Semaine')['Transaction ID'].count().to_frame(name='Nombre de Clients')
display(traffic_table)

# ENREGISTREMENT DU FICHIER TRANSFORMÃ‰ (FINAL)
df.to_csv('../DATA/PROCESSED/cafe_sales_transformed.csv', index=False)
print("\nðŸ’¾ Fichier TRANSFORMÃ‰ enregistrÃ© dans DATA/PROCESSED/cafe_sales_transformed.csv")

--- Ã‰TAPE 1 : Ajout de nouvelles colonnes ---

  Transaction ID    Item Jour_Semaine Type_Commande
0    TXN_1961373  Coffee       Friday        Petite
1    TXN_4977031    Cake      Tuesday        Grosse
2    TXN_4271903  Cookie    Wednesday        Grosse
3    TXN_7034554   Salad     Thursday        Petite
4    TXN_3160411  Coffee       Sunday        Petite

--- Ã‰TAPE 2 : Performance par Produit ---

              CA Total
Item
Salad          16060.0
Sandwich       12592.0
Smoothie       12504.0
Juice           9783.0
Cake            9564.0
Non SpÃ©cifiÃ©    7641.0
Coffee          6618.0
Tea             4537.5
Cookie          2995.0

--- Ã‰TAPE 3 : Analyse de l'Affluence ---

              Nombre de Clients
Jour_Semaine
Friday                     1388
Monday                     1382
Saturday                   1358
Sunday                     1380
Thursday                   1380
Tuesday                    1311
Wednesday                  1341

ðŸ’¾ Fichier TRANSFORMÃ‰ enregistrÃ© dans DATA/PROCESSED/cafe_sales_transformed.csv